/**
@author Copyright 2014 Piotr Dzwiniel
Referenced from: https://gist.github.com/bluevoxel/a965db5aba276c4f5753
*/

@CHARSET "UTF-8";

#textArea {
	
	-fx-background-color: rgba(0, 0, 0, 0.0);
	-fx-font-size: 12;
}

#textArea .scroll-pane {
	
	-fx-background-color: transparent;
}

#textArea .scroll-pane .viewport {
	
	-fx-background-color: transparent;
}

#textArea .scroll-pane .content {

	-fx-background-color: transparent;
}

#textArea *.text {
	
	-fx-text-alignment: center;
}
