/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
  font-family: 'Libre Baskerville', serif !important;
  font-size: 100%;
  background:#F1EFEF;
}
body a:hover,h5.top a:hover,.b-text h5 a:hover,.b-bottom-text h5 a:hover,.b-text h6 a:hover,.b-bottom-text h6 a:hover{
    color:#919191;
	
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],.port-grid ,.text p,.text h3{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6,a{
	margin:0;	
	font-family: 'Hammersmith One', sans-serif !important;
}	
p{
	margin:0;
	font-family: 'Libre Baskerville', serif !important;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.logo a {
    display: block;
}
/*--header--*/
  .content {
		margin:0;
		padding:0px;
	}
	.content p:last-child {
		margin: 0;
	}
	.content a.button {
		display: inline-block;
		padding: 10px 20px;
		background: #ff0;
		color: #000;
		text-decoration: none;
	}
	.party {
		padding: 0 1em;
	}
	.content a.button:hover {
		background: #000;
		color: #ff0;
	}
	.content.title {
		position: relative;
		background: #333;
	}
	.navbar-nav {
		float: left;
		margin-left: 8em;
	}
	.social-icons{
		float:right;
		margin:1.1em 0 0;
	}
	.social-icons ul li{
		display:inline-block;
	}
	.social-icons ul li a.facebook{
		background:url(../images/img-sp.png) no-repeat -10px -12px;
		display:block;
		width:30px;
		height:30px;
	}
	.social-icons ul li a.facebook:hover{
		background:url(../images/img-sp.png) no-repeat -62px -12px;
		display:block;
	}
	.social-icons ul li a.p{
		background:url(../images/img-sp.png) no-repeat -10px -52px;
		display:block;
		width:30px;
		height:30px;
	}
	.social-icons ul li a.p:hover{
		background:url(../images/img-sp.png) no-repeat -61px -52px;
		display:block;
	}
	.social-icons ul li a.g{
		background:url(../images/img-sp.png) no-repeat -10px -90px;
		display:block;
		width:30px;
		height:30px;
	}
	.social-icons ul li a.g:hover{
		background:url(../images/img-sp.png) no-repeat -61px -90px;
		display:block;
	}
	.social-icons ul li a.twitter{
		background:url(../images/img-sp.png) no-repeat -10px -128px;
		display:block;
		width:30px;
		height:30px;
	}
	.social-icons ul li a.twitter:hover{
		background:url(../images/img-sp.png) no-repeat -61px -128px;
		display:block;
	}
	.content.title .back-to-article {
		position: absolute;
		bottom: -20px;
		left: 20px;
	}
	.content.title .back-to-article a {
		padding: 10px 20px;
		background: #f60;
		color: #fff;
		text-decoration: none;
	}
	.content.title .back-to-article a:hover {
		background: #f90;
	}
	.content.title .back-to-article a i {
		margin-left: 5px;
	}
	.content.white {
		background: #fff;
		    padding: 1em 0;
	}
	.content.black {
		background: #000;
	}
	.content.black p {
		color: #999;
	}
	.content.black p a {
		color: #08c;
	}
	.navbar {
		position: relative;
		min-height: 50px;
		margin-bottom: 0!important;
		border: 1px solid transparent;
	}
	.navbar-default {
		background-color: #fff;
		border-color: #fff;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		color: #2479A9;
		background: none;
	}
	.navbar-brand {
		float: left;
		padding:24px 0 0 1.5em !important;
		font-size: 3em;
		text-transform: capitalize;
		color:#034098 !important;
		height: 67px;
		position:relative;
	}
	.navbar-brand:before{
		position:absolute;
		top:8%;
		left:0%;
		width:50px;
		height:50px;
		background:url(../images/1.png) no-repeat 0px 0px;
		display:block;
		content:'';
	}
	.navbar-brand:after{
		position:absolute;
		top:8%;
		right:-31%;
		width:50px;
		height:50px;
		background:url(../images/1.png) no-repeat 0px 0px;
		display:block;
		content:'';
	}
	.navbar-default .navbar-nav>li>a {
		color:#b7b7b7;
		font-size:1em;
		padding: 22px 15px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0;
	}
	.navbar-nav>li>a {
		padding-top: 18px;
		padding-bottom: 15px;
	}
	.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a.active {
	   color:#2479A9;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		background-color:#F8DA56;
		color: #fff;
	}
    .navbar-default .navbar-brand span {
		color: #df6840 !important;
		display: block;
		line-height: 1.5em;
		font-size: 16px;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #202020;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color:#ee5656;
	}
	.navbar-header {
    float: left;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		margin-right: 15px;
		padding: 9px 10px;
		margin-top: 8px;
		margin-bottom: 8px;
		background-color: #202002!important;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	.navbar-default .navbar-toggle {
		border-color: #202020;
	}
	.dropdown-menu .divider {
		height: 0;
		margin: 0;
		overflow:none;
		background: none;
	}
	.dropdown-menu .divider {
		border-bottom: 1px solid #E8E7EC;
	}
	.main-content {
	    padding: 3em 0;
	}
	.dropdown-menu {
		min-width: 200px;
	}
	.dropdown-menu.columns-2 {
		min-width: 260px;
	}
	.dropdown-menu.columns-3 {
		min-width: 600px;
	}
	.dropdown-menu {
		padding: 0;
	}
	.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
		color: #F8DA56;
		background: none;
	}
	.dropdown-menu li a {
		padding: 10px 15px;
		font-weight: 300;
	}
	.multi-column-dropdown {
		list-style: none;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		line-height: 1.428571429;
		color: #333;
		white-space: normal;
		text-decoration: none;
	}
	.multi-column-dropdown li a:hover {
		text-decoration: none;
		color:#F8DA56;
		background: none;
	}
	
	@media (max-width:767px) {
		.dropdown-menu.multi-column {
			min-width: 240px !important;
			overflow-x: hidden;
		}
	}
	@media (max-width:640px) {
	.navbar-nav {
		float: none;
		margin: 0;
		margin-left: 0em;
	}
}
	@media (max-width: 480px) {
		.content {
			width: 90%;
			margin: 50px auto;
			padding: 10px;
		}
	}
/*--slider-css--*/
.banner{
	    background: url(../images/banner.jpg)no-repeat 0px 0px;
     background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    min-height:630px;
}
.mag-innert-left {
    background-color: #fff;
    padding: 1em 1em;
	    border: 1px solid rgba(231,231,231,1.00);
}
/*--banner-inner--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
     bottom: -58%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 80px;
  width: 40px;
  background: transparent url("../images/arrows.png") no-repeat left top;
  margin-top: 4%;
  display: block;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
.callbacks_nav.next {
  left: auto;
    background-position: right top;
   right: 300px;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	 left: 300px;

}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
	bottom: -9%;
    z-index: 0;
    right: 0%;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .3em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height:6px;
    width:44px;
    display: inline-block;
    background:#fff;
    border:none;
}
.callbacks_here a:after{
	background:#F8DA56;
}
.banner-info {
	margin:13em auto 0 14em;
    text-align: right;
    width: 80%;
}
.banner-info h3 {
    font-size: 3em;
    font-weight: 400;
    color:#034098;
    line-height: 1.6em;
	text-transform:uppercase;
}
.banner-info p{
    font-weight: 300;
    color: #fff;
    margin: 0.3em 0;
    font-size: 1.1em;
}
/*--main-content--*/
h3.tittle,h2.tittle {
    background-color: #034098;
    padding: 0.8em 1em;
    color:#F8DA56;
    text-transform: uppercase;
    font-size: 1.1em;
	margin-bottom: 1em;
	text-align: left;
}
h3.tittle i,h2.tittle i {
    color:#F8DA56;
    font-size: 1em;
    margin-right: 0.5em;
    vertical-align: baseline;
}
.tech-img {
    padding: 0;
}
h5.inner.two a {
    color:#ADAEAF;
    text-transform: none;
    font-size: 1.2em;
    text-decoration: none;
}
h5.inner.two a:hover{
	color:#104782;
}
.item-details {
    padding-right: 0;
}
.td-post-date.two,.td-post-date.two a {
    color:#B5B5B5;
}
.td-post-date.two i{
 color:#E6E5E5;
}
.td-post-date.two a:hover,.td-post-date.two i:hover{
  color:#282828;
  	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h4.side i {
    left: -0.7em;
}
h4.side {
    background-color:#034098;
    padding:0.8em 1em .8em 2em;
    color: #F8DA56;
    text-transform: uppercase;
    font-size: 1.1em;
}
ul.stay {
background-color: #fff;
    padding:2em 2em;
       border: 1px solid rgba(231,231,231,1.00);
	}
.c5ab_social_counter ul li a {
    width: 100%;
    line-height: 18px;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: white;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
span.text {
    font-size: 14px;
	color:#fff;
}
.c5-element-facebook,.c5-element-twitter,.c5-element-dribble,.c5-element-gg {
    background:#337ab7;
    padding:0.8em 1em;
    margin-bottom:0.5em;
    list-style: none;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
	
}
.c5-element-facebook:hover{
 background:#29689E;
}
.c5-element-twitter{
 background:#1dcaff;
}
.c5-element-twitter:hover{
background:#04A5E2;
}
.c5-element-gg{
background:#dd4b39;
}
.c5-element-gg:hover{
background:#DC3E2A;
}
.c5-element-dribble{
 background: #ea4c89;
}
.c5-element-dribble:hover {
    background: #E03979;
}
.c5-element-twitter h5,.c5-element-dribble h5,.c5-element-facebook h5,.c5-element-gg h5{
    font-size: 14px;
    color: #fff;
    margin-right: 1em;
    text-transform: uppercase;
	display:inline-block;
}
span.count {
    margin-right: 15px;
}
ul.f-icons li {
    list-style: none;
    display: inline-block;
	margin-right: 0.3em;
}
/*--news--*/
.gallery {
    margin-top: 2em;
}
div#example1 {
    background-color: #fff;
       padding: 1.5em 1.5em 4em;
    border: 1px solid rgba(231,231,231,1.00);
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin:3em 0;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
	margin-top:3%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
	width:100%;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.course_demo{
	padding: 3% 3% 3% 3%;
}
.nbs-flexisel-item img {
	  width: 93%;
	  cursor: pointer;
	  position: relative;
	  margin-bottom: 0px;
	  display:inline;
}
/*--Navigation--*/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width:44px;
  height:60px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  display:none;
}
.nbs-flexisel-nav-left {
  	left: -7em;
    display:none;
}
.nbs-flexisel-nav-right {
	right: -7em;
    display:none;
}
.modern {
    margin: 2em 0;
}
a.more {
    background-color: #000;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 0.9em;
    display: inline-block;
    margin: 1em 0 0 0;
    float: right;
}
a.more:hover{
	color: #fff;
}
p.spam {
    margin: 1em 0 0.5em 0;
    color:#DC603E;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 1.5em;
}
.edit-pics {
    background-color: #fff;
    padding: 1.5em 1.5em;
    border: 1px solid rgba(231,231,231,1.00);
}
.td-post-date.two i {
    margin-right: 0.5em;
    font-size: 0.9em;
}
i.glyphicon.glyphicon-comment {
    margin-left: 0.5em;
}
/*--entertainment--*/
.m-albums {
    padding: 0 3px;
}
.m-albums iframe {
    width: 100%;
    border: none;
    height: 199px;
}
a.ma {
    text-transform: uppercase;
    color: #282828;
    display: block;
    font-weight: bold;
    margin: 0.5em 0;
}
.m-albums p {
    font-size: 0.9em;
    color: #737171;
    line-height: 1.8em;
    margin: 0.6em 0;
}
.world-news-grids {
    margin-top: 2.3em;
}
/*--//entertainment--*/
/*--games--*/
.latest-articles.sport {
    margin: 0;
}
.g-m {
    padding: 0 3px;
}
.g-m img{
width:100%;
}
a.ma {
    text-transform: uppercase;
    color: #282828;
    display: block;
    font-weight: bold;
	line-height: 1.8em;
    margin: 0.5em 0;
}
.business.sport {
    margin-top: 2em;
}
.g-m p {
    font-size: 0.9em;
    color: #737171;
    line-height: 1.8em;
    margin: 0.6em 0;
}
.technology.sport {
    margin-top: 1.2em;
}
.latest-articles.game {
    margin-top: 4.8em;
    text-align: center;
}
/*--//games--*/
/*--top-news--*/
.top-inner {
      background-color: #fff;
    padding: 1.5em 1.5em;
    border: 1px solid rgba(231,231,231,1.00);
}
.top-news {
    margin-top: 2em;
}
h5.top {
    margin-top: 0.7em;
}
h5.top a {
    line-height: 1.6em;
    font-weight: bold;
    text-transform: none;
    font-size: 1.05em;
    color: #282828;
}
/*--mag-bottom--*/
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 1em;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 358px;
    max-width: 415px;
    max-height: 250px;
    width: 48%;
}
figcaption h4 {
    font-size: 1.5em;
    color: #F8DA56;
    margin: 0;
	text-transform:capitalize;
}
.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h4 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h4 span {
	margin: .2em 0 0;
    display: block;
    font-size: .6em;
    color: #fff;
}

.grid figure h4,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-layla {
	    background: #282828;
}
a.wd {
    font-size: 1.2em;
    color: #2479A9;
    display: inline-block;
    margin: 1em 0 0;
	text-decoration: none;
}

figure.effect-layla figcaption {
	padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h4 {
	padding-top:35%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-o-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-ms-transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-o-transform: translate3d(0,-10px,0);
	-moz-transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h4 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
	-o-transform: translate3d(0,-30px,0);
	-ms-transform: translate3d(0,-30px,0);
	-moz-transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-o-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-ms-transition: transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-o-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
}

figure.effect-layla:hover h4,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h4,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-o-transition: transform 0.15s;
	-moz-transition: transform 0.15s;
	-ms-transition: transform 0.15s;
}
.m-b img {
    width: 100%;
}
.m-b {
    padding: 0;
}
.mag-bottom {
    margin-top: 4em;
}
h3.tittle.bottom {
    width: 98.5%;
}
.m-b-text {
    text-align: left;
    padding: 0.5em;
}
.m-b-text p {
    font-size: 0.9em;
    color:#999;
    line-height: 1.8em;
    margin: 0.6em 0;
}
.world-news-grids.fsh {
    margin-top: 1em;
}
a.read {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #fff;
    padding: .5em 1.5em;
    display: inline-block;
    margin: 1em 0 2em;
    background:#AFAFAF;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
a.read:hover {
	background:#F8DA56;
	color:#fff;
}
/*--mag-bottom--*/
/*--Typography--*/
h3.title,.about h3,.history h3{
	color:#804e20;
}
p.iste{
	color:#999;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color: #2B82AD;
    letter-spacing: 1px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
padding:0;
}
.in-gp-tb{
padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
 ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.caption span {
		margin: 0 0 1.5em;
	}
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*--single-page--*/
.single-left-grid h4 {
    line-height: 1.2em;
    font-size: 1.5em;
    color: #282828;
    text-transform: capitalize;
    margin: 1em 0 0;
}
.single-left-grid p{
    font-size: 0.9em;
    color: #737171;
    line-height: 1.8em;
    margin: 0.6em 0;
}
.single-bottom ul {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border-top: solid 1px #DDD8D8;
}
.single-bottom ul li {
    display: inline-block;
    font-size: 14px;
    color: #777;
    margin: 0 1em;
}
.single-bottom ul li a {
    color: #777;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif !important;
}
.single-bottom ul li a:hover {
 color:#282828;
}
.post-right h4 a {
    color: #282828;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}
.post-right p.comments {
    color: #d7d7d7;
    font-size: 12px;
    margin: 1em 0;
    font-style: italic;
}
.post-grids {
    margin: 2em 0;
   padding-bottom: 1.37em;
    border-bottom: 1px solid #F2F2F2;
}
p.comments a {
    color: #282828;
}
.leave h4,.post h3 {
    color:#034098;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}
.post {
    margin-top: 2em;
}
.post-right h4 a {
    text-transform: uppercase;
    font-size: 1em;
}
.post-right h4 a:hover{
    color:#034098;
	}
form#commentform {
    margin: 3em 0 0;
}
#commentform input[type="text"] {
    padding: 8px 15px;
    width: 100%;
    color: #444;
    font-size: 1em;
    border: 1px solid #eee;
    outline: none;
    display: block;
}
#commentform label {
    display: block;
    font-size: 0.9em;
    color: #282828;
    font-weight: 400;
    margin: 0.5em 0;
}
#commentform textarea {
    padding: 13px 20px;
    width: 100%;
    color: #444;
    font-size: 0.85em;
    outline: none;
    height: 150px;
    display: block;
    resize: none;
    font-weight: 400;
    border: 1px solid #eee;
    background: none;
}

#commentform input[type="submit"] {
    background:#F8DA56;
    outline: none;
    font-size: 1em;
    margin: 16px 0px;
    border: none;
    padding: 0.5em 2em;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: capitalize;
    -webkit-appearance: none;
}
#commentform input[type="submit"]:hover {
    background:#034098;
}
p.text {
    font-size: 0.9em;
    color:#999;
    line-height: 1.8em;
    margin: 0.6em 0;
}
/*--//single-page--*/
/*--footer--*/
.footer-section {
  padding:1em 0;
  background:#282828;
}
.editor-pics {
       margin-bottom: 0.7em;
}
.footer-grid h4 {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #fff;
    border-left:4px solid #F8DA56;
    padding: 0;
    padding-left: 0.5em;
    margin-bottom: 1.5em;
    font-weight: bold;
}
.td-post-date {
    color:#F8DA56;
    font-size: 0.8em;
    margin: 0.5em 0;
}
.footer-grids{
   padding: 2em 0 1em 0;
   text-align: left;
}
.footer-grid {
    padding-left: 0;
}
.item-pic {
    padding: 0;
}
h5.inner {
    line-height:1.8em;
    font-size: 0.85em;
	    padding: 0;
}
h5.inner a{
  color: #9B9EA2;
}
h5.inner a:hover{
 color: #fff;
}
ul.td-pb-padding-side li {
	line-height:1.8em;
	color:#fff;
}
ul.td-pb-padding-side {
    padding: 0 0 0 1em;
}
ul.td-pb-padding-side li span {
    float: right;
    margin-right: 10px;
}
ul.td-pb-padding-side li a {
    color: #9B9EA2;
    font-size: 0.9em;
	text-decoration: none;
}
ul.td-pb-padding-side li a:hover{
    color: #fff;  
	text-decoration:none;
}
/*--copyright--*/
.banner1 {
    background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 230px;
}
h2.inner-tittle {
    text-align: center;
    margin-top: 2.5em;
    text-transform: uppercase;
    color: #EE5656;
    font-size: 2.2em;
}
/*-- business --*/
.bull {
	  float: left;
  width: 37%;
  margin-right: 3%;
  padding: 5px;
  border: 1px solid#C7C6C6;
}
.bull img {
	width:100%;
}
.bull-text {
	float:right;
	width:60%;
}
.live-market h3 {
	     background-color: #ee5656;
    padding: 0.8em 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 1em;
}
.live-market h3 span {
	background:#282828;
	padding: 5px 5px 0 05px;
	color:#fff;
}
.live-market {
	margin-bottom:2em;
}
a.bull1 {
      color: #282828;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.bull-text p {
	    margin: 7px 0 20px 0;
    font-size: 1.2em;
    color: #555;
}
.bull-text ul li {
	margin:3px 0;
}
.bull-text ul li a{
	    font-size: 0.9em;
    font-weight: 400;
    margin-top: 10px;
    text-transform: lowercase;
    display: block;
	color:#777;
    text-decoration: none;
}
.bull-text ul li a:hover {
	color: #cf0000;
}
/*-- contact --*/
.contact-bottom iframe{
	width:100%;
	min-height:400px;
	margin:0 0 -5px;
}
.contact-left p{
	color: #999;
	font-size: 14px;
	line-height: 1.8em;
	margin:0;
}
.contact-left p span{
	display:block;
	font-weight:700;
}
.contact-left ul{
	padding:1em 0 0;
	margin:0;
}
.contact-left ul li{
	list-style-type:none;
	margin:0 0 5px;
	font-size:14px;
	color:#000;
}
.contact-left ul li a{
	color:#6D6D6D;
	text-decoration:none;
}
.contact-left ul li a:hover{
	color:#2479A9;
}
.contact-left input[type="text"],.contact-left input[type="email"],.contact-left textarea{
	background:none;
	border: 1px solid #D9D9D9;
    color: #A3A3A3;
    padding: 13px 10px;
	font-size: 14px;
	outline: none;
}
.contact-left input[type="text"],.contact-left input[type="email"]{
	width: 32.7%;
	float: left;
}
.contact-left input[type="email"]{
	margin:0 6px;
}
.contact-left textarea{
	min-height: 200px;
	resize: none;
	width: 100%;
	margin:1em 0;
}
.contact-left input[type="submit"],.contact-left input[type="reset"]{
	outline: none;
    color: #fff;
    font-size: 16px;
    padding: 13px 0;
    width: 49.68%;
    background: #F8DA56;
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-left input[type="submit"]:hover,.contact-left input[type="reset"]:hover{
	background:#2479A9;
}
.contact-left h4{
	font-size: 1.3em;
    color:#2479A9;
    margin: 0 0 1em;
}
.contact-bottom {
    margin: 3em 0;
	padding:1em;
	border:1px dotted #555;
}
/*-- //contact --*/
/*-- leadership --*/
.leader{
	text-align:center;
}
.leader h4{
	font-size:1.5em;
	color:#222;
	margin:1em 0 .5em;
}
.leader h4 span{
	display:block;
	color:#999;
	font-size:.6em;
	margin:.5em 0 0;
}
.leader img{
	margin:0 auto;
}
.leader p{
	font-size:14px;
	color:#999;
	margin:0;
	line-height:1.8em;
}
.leadership-grid-left{
	padding:2em 1em;
	background:#fff;
}
.leadership h3 {
    width: 45% !important;
}
.leadership-grid:nth-child(2){
	margin:2em 0 0;
}
.leadership-grid:nth-child(3){
	margin:2em 0;
}
/*-- //leadership --*/
/*-- about --*/
.about,.typo,.contact,.leadership,.single{
	padding:5em 0;
	background: #fff;
}
.about,.leadership{
	background: #F1EFEF;
}
.about-grid-left{
	padding:1em;
	background:#fff;
}
.history h3,.philosophy h3,.phi-bottom h3,h3.title,.contact h3,.leadership h3{
	font-size: 2em;
    color: #222;
    margin: 0.5em 0 1em;
    position: relative;
    padding: 0 0 .5em;
    width: 35%;
    border-bottom: 1px solid #999;
    background-color: #fff;
}
h3.title,.contact h3{
	margin:0 auto;
	background:none;
	text-align:center;
	border-bottom:none;
}
.history h3:after,.philosophy h3:after,.phi-bottom h3:after,.leadership h3:after{
	width: 55%;
    height: 1px;
    background: #999;
    content: '';
    position: absolute;
    top: 88%;
    left: 0%;
}
.history p{
	margin:1em 0 0;
	color:#999;
	font-size:.9em;
	line-height:1.8em;
}
.philosophy{
	margin:2em 0;
}
.philosophy-grid-right h4{
	text-transform: capitalize;
    font-size: 1em;
    color: #034098;
    margin: 0 0 1em;
    padding: 0;
    line-height: 1.5em;
}
.philosophy-grid-right p{
	font-size:14px;
	color:#999;
	margin:0;
	line-height:1.8em;
}
.philosophy-grids:nth-child(3){
	margin:2em 0 0;
}
/*-- //about --*/
/*--copyright--*/
.copyright{
  padding: 1.2em 1em;
  background:#232323;
  text-align:center;
}
.copyright p{
  color:#AFAFAF;
  font-size:0.9em;
}
.copyright p a{
   color:#fff;
   margin: 0;
}
.copyright p a:hover{
 text-decoration:underline;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*-- issues --*/
.issues{
	margin:1em 0 3em;
}
.issues h3 a{
	font-size:1.3em;
	color:#555;
	margin:1em 0 .5em;
	line-height:1.2em;
	display:block;
}
.issues p{
	font-size:.9em;
	color:#999;
	margin:0 0 1em;
	line-height:1.8em;
}
/*--Responsive--*/
@media (max-width:1440px){

}
@media (max-width:1366px){
	.banner {
		background: url(../images/banner.jpg)no-repeat 0px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 566px;
	}
	.banner-info {
		margin: 10em 0 0 14em;
	}
}
@media (max-width:1280px){
	.banner {
		background: url(../images/banner.jpg)no-repeat 0px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 523px;
	}
	.banner.two {
		background: url(../images/banner.jpg)no-repeat 0px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 211px;
	}
	.banner-info h3 {
       font-size: 2.7em;
	}
}
@media (max-width:1024px){
	.navbar-brand {
		font-size: 2.5em;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 6em;
	}
	.navbar-default a.navbar-brand h1 {
		margin-top: 5px;
	}
	.banner.two {
		background: url(../images/banner.jpg)no-repeat 0px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 190px;
	}
	.grid figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 10px 1%;
		min-width: 295px;
		max-width: 270px;
		max-height: 172px;
		width: 48%;
	}
	figure.effect-layla h4 {
    padding-top: 11%;
	}
	ul.stay {
    padding: 1em 1em;
	}
	.edit-pics {
      padding: 1em 1em;
	}
	.top-inner {
    padding: 1em 1em;
	}
	h5.inner.two a {
		font-size: 0.95em;
	}
	.banner-info h3 {
		font-size: 2.3em;
	}
	.banner {
		background: url(../images/banner.jpg)no-repeat -85px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 440px;
	}
	.issues h3 a {
		font-size: 1.1em;
	}
	.banner-info {
		margin: 8em 0 0 11em;
		text-align: right;
	}
	.callbacks_tabs {
		right: 1%;
    }
	.sign_up {
      padding: 1em 1em;
	}
	.b-text p {
		font-size: 0.9em;
		margin: 0.2em 0;
	}
	.c5-element-facebook, .c5-element-twitter, .c5-element-dribble, .c5-element-gg {
       padding: 0.3em 1em;
       margin-bottom: 0.5em;
	}
   .business-bottom {
     width: 100%;
   }
   .m-albums iframe {
    width: 100%;
    border: none;
    height: 171px;
	}
	a.ma {
		line-height: 1.7em;
		margin: 0.5em 0;
		font-size: 0.9em;
	}
	.m-albums p {
		font-size: 0.9em;
		line-height: 1.8em;
		margin: 0.4em 0;
	}
	.typrography {
      padding: 3em 0;
	}
	.section-contact {
		padding: 3em 0;
	}
	.account {
      padding: 3em 0px;
	}
	a.bull1 {
    font-size: 1.5em;
	}
	h2.inner-tittle {
      margin-top: 2em;
      font-size: 2.2em;
    }
	.m-b {
		width: 33%;
		float: left;
		margin-right: 0;
		margin-bottom: 0;
	}
	.grid figure figcaption, .grid figure figcaption > a {
		font-size: 1em;
	}
	figure.effect-layla figcaption {
		padding: 5em 3em;
	}
	a.read {
		margin: 1em 0 0em;
	}
	.leadership h3 {
		width: 50% !important;
	}
	.contact-left input[type="text"], .contact-left input[type="email"] {
		width: 32.6%;
	}
	.contact-left input[type="submit"], .contact-left input[type="reset"] {
		width: 49.6%;
	}
	.single-left-grid h4 {
		font-size: 1.3em;
	}
	.post-right h4 a {
		font-size: 14px;
	}
	.leave h4, .post h3 {
		font-size: 1.5em;
	}
}
@media (max-width:800px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 3px!important;
	}
	.navbar-default a.navbar-brand h1 {
		margin-top: 5px;
		font-size: 1.8em;
	}
	.contact-grid {
		padding-left: 0;
		padding: 0;
	}
	.banner {
		background: url(../images/banner.jpg)no-repeat 0px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 398px;
	}
	.banner-info {
		text-align: center;
		width: 80%;
		margin: 7em auto 0;
	}
	.navbar-default a.navbar-brand h1 {
		    margin-top:5px;
		    font-size: 1.5em;
	}
	.banner-info h3 {
		font-size: 2em;
	}
	.callbacks_tabs li {
		display: inline-block;
		margin: 0 .0em;
	}
	.callbacks_tabs {
		bottom: -9%;
		left: 37%;
	}
	.tech-img {
		float: left;
		padding-left: 0;
	}
	.tech-text {
		float: right;
		padding: 0;
		width: 40%;
	}
	.item-details {
		padding-right: 0;
		padding: 0;
		    float: left;
			    margin-left: 1em;
	}
	h5.inner.two a {
      font-size: 1em;
    }
	.b-text {
		padding-right: 0;
		padding: 0;
	}
	.mag-inner-right {
		padding: 0;
		margin-top: 2em;
	}
	.m-albums iframe {
		width: 100%;
		border: none;
		height: 390px;
	}
	.g-m {
		padding: 0 3px;
		margin-bottom: 1.5em;
	}
	.m-albums {
		padding: 0 3px;
		margin-bottom: 1.5em;
	}
	.b-bottom-text h5 a {
		font-size: 1.1em;
	}
	.b-text h5 a {
    font-size: 1.4em;
	}
	.bull {
    float: left;
    width: 51%;
    margin-right: 0;
    padding: 5px;
	}
	.bull-text {
		float: right;
		width: 100%;
		margin-top: 2em;
	}
	.bull-text ul {
		padding-left: 2em;
	}
	.adrs-left p {
		font-size: 13px;
		margin-left: 8px;
	}
	.account-left {
		padding: 0;
	}
	.account-left.second {
		margin-top: 2em;
	}
	.adrs-left {
    padding: 1.2em 15px;
	}
	.adrs-left span {
    font-size: 2em;
	}
	.nav>li>a {
    position: relative;
    display: block;
    padding:12px 6px;
	}
	.navbar-default .navbar-nav>li>a {
		color: #282828;
		font-size: 0.8em;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		margin-left: 11em;
	}
	.content.white {
		padding: 0.5em 0;
	}
	.dropdown-menu.columns-2 {
		min-width: 247px;
	}
	h2.inner-tittle {
		margin-top: 2.5em;
		font-size: 1.8em;
	}
	.post-left {
		padding-left: 0;
		float: left;
	}
	.post-right {
		padding: 0;
		width: 80%;
		float: right;
	}
	.leave h4, .post h3 {
    font-size: 1.6em;
	}
}
@media (max-width:768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px!important;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 22px 8px;
	}
	.social-icons {
		margin: 0;
	}
	.banner-info {
		text-align: right;
		width: 80%;
		margin: 7em 0 0 8em;
	}
	.navbar-brand {
		font-size: 2.3em;
	}
	.banner {
		background:url(../images/banner.jpg)no-repeat -105px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 388px;
	}
	.nav>li>a {
		position: relative;
		display: block;
		padding: 10px 6px;
	}
	.navbar-default a.navbar-brand h1 {
    margin-top: 5px;
    font-size: 1.5em;
   }
	.banner-info p {
		margin: 0.3em 0;
		font-size: 1em;
	}
	.mag-innert-left {
		padding: 1em 1em 4em;
	}
	.grid figure {
		min-width: 225px;
		max-height: 160px;
	}
	figure.effect-layla figcaption {
		padding: 5em 0em;
	}
	.callbacks_tabs {
		bottom: -14%;
		left: 75%;
	}
	.item-details {
		float: right;
		margin: 0;
		width: 70%;
	}
	.banner.two {
		background: url(../images/banner.jpg)no-repeat 0px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 156px;
	}
	h2.inner-tittle {
		margin-top: 1.9em;
		font-size: 1.8em;
	}
	.m-albums iframe {
		width: 100%;
		border: none;
		height: 390px;
	}
	h3.h-tittle {
		font-size: 2em;
		margin-bottom: 0.5em;
	}
	.mag-bottom {
		margin-top: 2em;
	}
	.footer-section {
		padding: 0;
	}
	.footer-grid {
		float: left;
		width: 33.33%;
		margin: 0;
	}
	.about, .typo, .contact, .leadership, .single {
		padding: 4em 0;
	}
	.philosophy-grid-left {
		float: left;
		width: 35%;
	}
	.philosophy-grid-right {
		float: right;
		width: 65%;
	}
	.about-grid-left {
		padding: 1em 1em 2em;
	}
	.leader {
		float: left;
		width: 50%;
	}
	.contact-bottom {
		margin: 1em 0 2em;
	}
	.contact-left:nth-child(4) {
		margin: 3em 0 0;
	}
	.contact-left input[type="email"] {
		margin: 0 7px;
	}
}
@media (max-width:767px){
	.navbar-nav {
		float: right;
		margin: 0;
		margin-left: 0;
	}
	.navbar-header {
		float: none;
	}
	.navbar-brand {
		font-size: 2em;
		padding: 24px 0 0 2.5em !important;
	}
	.navbar-toggle {
		margin:1em 1em 0 0;
		background-color: #F8DA56!important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle {
		border-color: #F8DA56;
	}
	.navbar-brand:before {
		left: 10%;
	}
	.navbar-brand:after {
		right: -34%;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 10px 0;
	}
	.navbar-nav {
		float: none;
		text-align: center;
		padding: 1em 0 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		box-shadow: none;
		padding: 0;
		background: #E8E8E8;
	}
	.social-icons {
		float: none;
		text-align: center;
		padding: 1em 0;
	}
}
@media (max-width:667px){
	.banner-info h3 {
		font-size: 1.6em;
	}
	.banner-info {
		margin: 7em 0 0 7em;
	}
	.callbacks_tabs {
		left: 72%;
	}
	.tech-img {
		width: 50%;
	}
	.tech-text {
		width: 47%;
	}
	.grid figure {
		min-width: 200px;
		max-height: 140px;
	}
}
@media (max-width:640px){
	.banner1 {
		min-height: 150px;
	}
	.about, .typo, .contact, .leadership, .single {
		padding: 3em 0;
	}
	.history h3, .philosophy h3, .phi-bottom h3, h3.title, .contact h3, .leadership h3 {
		font-size: 1.8em;
	}
	.leader h4 {
		font-size: 1.3em;
	}
	.contact-bottom {
		padding: 0.5em;
	}
	.contact-bottom iframe {
		min-height: 250px;
	}
	.contact-left input[type="text"], .contact-left input[type="email"] {
		width: 32.5%;
	}
	.contact-left input[type="submit"], .contact-left input[type="reset"] {
		width: 49.5%;
	}
	.navbar-default a.navbar-brand h1 {
		margin-top: 2px;
		font-size: 1.7em;
	}
	 .navbar-nav {
		float:none;
		margin: 0;
		margin-left: 0;
	}
	.issues h3 a {
		font-size: 0.9em;
	}
	.banner-info {
		width: 91%;
		margin:7em 0 0 2.5em;
	}
	.banner-info h3 {
		font-size: 1.8em;
	}
	.navbar-default .navbar-nav>li>a {
		color: #282828;
		font-size: 0.9em;
		text-align: center;
	}
	.world-news-grid {
		width: 48.5%;
		float: left;
		margin-right:1%;
		margin-bottom:5%;
	}
	.world-news-grid.lost{
	 float:none;
	    margin: 0 auto 1em;
	}
	.m-albums iframe {
		height: 321px;
	}
	.latest-articles.game a img {
		width: 100%;
	}
   .grid figure {
		min-width: 180px;
		max-height: 123px;
	}
	figure.effect-layla figcaption {
		padding: 3em 0em;
	}
	figure.effect-layla figcaption::before {
		top: 20px;
		right: 10px;
		bottom: 20px;
		left: 10px;
	}
	figure.effect-layla figcaption::after {
		top: 20px;
		right: 10px;
		bottom: 20px;
		left: 10px;
	}
	a.bull1 {
		font-size: 1.4em;
	}
	figcaption h4 {
		font-size: 1.3em;
	}
	.bull {
		float: left;
		width: 56%;
		margin-right: 0;
		padding: 5px;
	}
	.single-left-grid img {
		width: 100%;
	}
	.post-right {
    padding: 0;
    width: 79%;
    float: right;
	}
	.main-content {
		padding: 3em 0 1em 0;
	}
	a.wd {
		font-size: 1.1em;
	}
	.single-bottom ul li {
		margin: 0 0.8em;
	}
	.leave h4, .post h3 {
		font-size: 1.3em;
	}
	.mag-innert-left {
		padding: 1em 1em 0em;
	}
	.jghdl {
		padding: 1em 1em 4em;
	}
	h5.inner.two a {
		font-size: 1.1em;
	}
	h5.top a {
    line-height: 1.8em;
	}
	.footer-section {
    padding: 1em 0 0 0;
	}
	.contact-in h5 {
		font-size: 1.3em;
		margin: 0;
		line-height: 1.5em;
	}
	.navbar-toggle {
		margin: 1.2em 1em 0 0;
	}
}
@media (max-width:600px){
	.callbacks_tabs a:after {
		height: 5px;
		width: 39px;
	}
}
@media (max-width:480px){
	.navbar-brand:before {
		top: 23%;
		width: 35px;
		height: 35px;
		background: url(../images/1.png) no-repeat 0px 0px;
		background-size: 100%;
	}
	.navbar-brand {
		font-size: 2em;
		padding: 0.8em 0 0 2em !important;
		height: 70px;
	}
	.navbar-brand:after {
		top: 23%;
		width: 35px;
		height: 35px;
		background: url(../images/1.png) no-repeat 0px 0px;
		background-size: 100%;
		right: -27%;
	}
	.content.white {
		padding: 0 !important;
	}
	.post-right h4 a {
		text-transform: uppercase;
		font-size: 0.8em;
	}
	.post-right {
		padding: 0;
		width: 71%;
		float: right;
	}
	.post-right h4 {
	 line-height:1.6em;
	     padding: 0;
	}
	.single-left-grid h4 {
        font-size:1em;
	}
	.m-b {
		width:80%;
		float: none;
		margin-right: 0;
		margin-bottom: 0;
		margin: 0 auto;
	}
	.m-b-text {
		text-align: center;
	}
	.grid figure {
		margin: 0;
		min-width: 346px;
		max-width: 306px;
		max-height: 204px;
		width: 48%;
	}
	.content {
	    width:100%!important;
		margin: 0 0!important;
		padding: 10px!important;
	}
	.m-albums iframe {
		height: 217px;
	}
	.item-details {
		float: left;
		margin-left: 1em;
		width: 70%;
	}
	.world-news-grid {
		width: 84%;
		float: left;
		margin-right: 0%;
		margin-bottom: 5%;
	}
	.world-news-grid.lost {
		float: left;
		margin: 0 auto 1em;
	}
	.m-b:nth-child(3) {
		margin: 0em auto;
		text-align: center;
		float: none;
	}
	.m-b:nth-child(2){
		margin:2em auto;
	}
	h2.inner-tittle {
        margin-top: 1.7em;
        font-size: 1.6em;
	}
	.banner.two {
		background: url(../images/banner.jpg)no-repeat 0px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 129px;
	}
	.tech-img {
		float: none;
		width: 55%;
		margin: 0 auto 2em;
	}
	.tech-text {
		width: 100%;
		float: none;
	}
	.footer-grids {
		padding: 1em 0 1em 0;
	}
	.footer-grid h4 {
		font-size: 1em;
	}
	.footer-grid {
		float: none;
		width: 100%;
		padding:0;
	}
	.history h3, .philosophy h3, .phi-bottom h3, h3.title, .contact h3, .leadership h3 {
		font-size: 1.5em;
	}
	.about, .typo, .contact, .leadership, .single {
		padding: 2em 0;
	}
	.leadership h3 {
		width: 60% !important;
	}
	.footer-grid:nth-child(2) {
		margin:2em 0;
	}
	.section-contact,.typrography,.account {
		padding: 2.5em 0;
	}
	.map iframe {
		width: 100%;
		border: none;
		height: 266px;
	}
	.bull {
		float: left;
		width: 100%;
		margin-right: 0;
		padding: 5px;
	}
	a.bull1 {
		font-size: 1.3em;
	}
	a.bull1 {
		font-size: 1.3em;
	}
	.banner {
		background: url(../images/banner.jpg)no-repeat -105px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 275px;
	}
	.banner-info {
		width: 91%;
		margin:4em 0 0 1.5em;
	}
	.main-content {
		padding: 2em 0 1em 0;
	}
	.issues h3 a {
		font-size: 0.8em;
		margin: 0 0 0.5em;
	}
	.issues {
		margin: 1em 0 2em;
	}
	.callbacks_tabs a:after {
		height: 3px;
		width: 30px;
	}
	.callbacks_tabs {
		left: 70%;
	}
	.banner-info h3 {
		font-size:1.2em;
	}
	.gallery {
		margin-top: 1em;
	}
	.business.second {
		margin-top: 1em;
	}
	.business {
		margin-top: 1em;
	}
	.business.sport {
		margin-top: 0.5em;
	}
	.technology.sport {
		margin-top: 0.2em;
	}
	.contact h3 {
		width: 100%;
	}
	.contact-left input[type="text"], .contact-left input[type="email"] {
		padding: 10px;
		width: 100%;
	}
	.contact-left input[type="email"] {
		margin: 1em 0;
	}
	.contact-left input[type="submit"], .contact-left input[type="reset"] {
		padding: 10px 0;
		width: 49.4%;
		font-size: 14px;
	}
}
@media (max-width: 414px){
	.callbacks_tabs {
		left: 66%;
	}
	.banner-info p {
		font-size: 14px;
	}
	.grid figure {
		min-width: 292px;
	}
	.philosophy-grid-left {
		float: none;
		width: 60%;
		margin: 0 auto 2em;
	}
	.philosophy-grid-right {
		float: none;
		width: 100%;
		text-align:center;
	}
	h3.title {
		width: 100%;
	}
	.leadership h3 {
		width: 70% !important;
	}
	.leader {
		float: none;
		width: 75%;
		margin: 0 auto;
	}
	.contact-left input[type="submit"], .contact-left input[type="reset"] {
		width: 49.3%;
	}
	.leader:nth-child(2) {
		margin:2em auto;
	}
	.leadership-grid:nth-child(3) {
		margin: 0;
	}
}
@media (max-width:384px){
	.callbacks_tabs {
		left: 63%;
	}
}
@media (max-width:320px){
	.navbar-brand {
		font-size:1.8em;
		padding: 1em 0 0 1.8em !important;
	}
	.navbar-brand:after {
		width: 25px;
		height: 25px;
		background: url(../images/1.png) no-repeat 0px 0px;
		background-size: 100%;
		top: 34%;
		right: -25%;
	}
	.navbar-brand:before {
		top: 34%;
		width: 25px;
		height: 25px;
		background: url(../images/1.png) no-repeat 0px 0px;
		background-size: 100%;
	}
	figure.effect-layla h4 {
		padding-top:8%;
	}
	.m-albums iframe {
		height: 132px;
	}
	.m-b {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 0;
	}
	.single-left-grid h4 {
		font-size: 0.9em;
		padding: 0;
	}
	.banner-info h3 {
		font-size: 1em;
	}
	.banner-info {
		width: 100%;
		margin: 3em auto 0;
	}
	.b-text h6 {
    font-size: 0.7em;
	}
	.banner {
		background: url(../images/banner.jpg)no-repeat -84px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		min-height: 200px;
	}
	.banner-info p {
		margin: 0;
		font-size:13px;
	}
	.callbacks_tabs a:after {
		height: 2px;
		width: 20px;
	}
	.callbacks_tabs {
		bottom: -22%;
		left: 68%;
	}
	.main-content {
		padding:1em 0 1em 0;
	}
	.world-news-grid {
		width: 100%;
		float: left;
		margin-right: 0%;
		margin-bottom: 5%;
	}
	.section-contact,.typrography,.account {
		padding: 2em 0;
	}
	.b-text h5 a {
    font-size: 1.1em;
	}
	.b-bottom-text h5 a {
		font-size: 0.9em;
	}
	.icons a {
		font-size: 0.7em;
		margin: 0.2em 0em;
	}
	.b-bottom-text h6 {
		padding-top: 0.6em;
		float: left;
		font-size: 0.7em;
		    padding: 3px 0 0 0;
	}
	.navbar-default a.navbar-brand h1 {
		margin-top: 2px;
		font-size: 1.5em;
	}
	.world-news-grid {
    width: 100%;
    float: left;
    margin-right: 0%;
    margin-bottom: 5%;
	}
	.grid figure {
		margin: 10px 1%;
		min-width: 268px;
		max-width: 306px;
		max-height: 154px;
		width: 48%;
	}
	h3.tittle,h2.tittle {
	padding: 0.8em 1em;
    font-size: 1em;
       margin-bottom: 0.7em;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		margin-right:4px!important;
	}
	.item-details {
		float: left;
		margin-left: 1em;
		width: 73%;
	}
	.single-bottom ul {
		margin: 0em 0 0 0;
		padding: 0.5em 0 0 0;
    }
	.post {
      margin-top: 1em;
	}
	.leave h4, .post h3 {
		font-size: 1.4em;
	}
	.post-right {
		padding: 0;
		width: 100%;
		float: right;
		margin-top: 0.5em;
	}
	.post-grids {
      margin: 1em 0;
      padding-bottom:1em;
	}
	.banner.two {
    background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 93px;
	}
	h2.inner-tittle {
		margin-top: 1.1em;
		font-size: 1.5em;
	}
	.account-top.heading h3 {
        padding:0;
		font-size: 1.4em;
	}
	.address {
		margin-top: 1em;
	}
	a.bull1 {
		font-size: 1.1em;
	}
	.bull-text p {
      margin: 7px 0 12px 0;
      font-size: 1.05em;
	}
	.contact-in h5 {
		font-size: 1.2em;
		margin: 0;
		line-height: 1.5em;
		padding: 0;
	}
	.more-address {
		padding: 0em 0;
	}
	.contact-grid input[type="text"], .contact-grid textarea {
      width: 100%;
      padding: 0.6em;
	}
	.contact-grid textarea {
		resize: none;
		min-height: 153px;
	}
	h3.h-tittle {
		font-size: 1.6em;
		margin-bottom: 0.5em;
	}
	.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
		border: 1px solid #ddd;
		padding: 0 5px!important;
	}
	.issues h3 a {
		font-size: 0.7em;
	}
	.issues {
		margin: 0em 0 2em;
	}
	.issues p {
		font-size: 13px;
		margin: 0;
	}
	.td-post-date {
		font-size: 13px;
	}
	a.wd {
		font-size: 1em;
		margin:.5em 0 0;
	}
	.copyright p {
		font-size: 13px;
		line-height: 1.8em;
	}
	.history p,.philosophy-grid-right p,.m-b-text p,.leader p,.contact-left p,.contact-left ul li {
		font-size: 13px;
	}
	.contact-left:nth-child(4) {
		margin: 2em 0 0;
	}
	.contact-left textarea {
		min-height: 150px;
	}
	.contact-left input[type="submit"], .contact-left input[type="reset"] {
		width: 100%;
	}
	.contact-left input[type="submit"] {
		margin: 0 0 1em;
	}
	.contact-left input[type="text"], .contact-left input[type="email"] {
		font-size: 13px;
	}
	.contact-left ul {
		padding: 0;
	}
	.banner1 {
		min-height: 90px;
	}
	.philosophy-grid-left {
		width: 75%;
		margin: 0 auto 1em;
	}
	.philosophy-grid-right h4 {
		margin: 0 0 0.5em;
	}
	.leadership h3 {
		width: 95% !important;
	}
	.leader {
		width: 100%;
	}
	.contact-bottom iframe {
		min-height: 150px;
	}
	.contact-bottom {
		padding: 0.3em;
	}
	.contact-left {
		padding: 0;
	}
	.contact-left h4 {
		margin: 0 0 0.5em;
	}
}